---
// Components
import Button from "components/Button.astro";

interface Props {
  date?: string;
  location?: string;
  description?: string; // Add the description attribute
  links?: Array<{
    text: string;
    link: string;
    openInNewTab: boolean;
  }>;
}

const { date, location, description, links } = Astro.props;
---

<section
  class="section section-home-header full-height"
  data-theme-section="dark"
  data-bg-section="header-home"
>
  <div class="overlay overlay-background overlay-background-video">
    <div class="styled-video playpause overlay">
      <video
        class="overlay"
        preload="auto"
        autoplay
        loop
        muted
        webkit-playsinline
        playsinline
        poster="/videos/seine-bridge.webp"
      >
        <!-- <source src="/videos/strategy-forum.webm" type="video/webm" />
        <source src="/videos/strategy-forum.mp4" type="video/mp4" /> -->
      </video>
    </div>
    <div class="overlay overlay-gradient-v2"></div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="logo-gosim-scroll">
          <svg
            width="86"
            height="25"
            viewBox="0 0 86 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M78.3191 15.7287C78.8678 15.7287 79.3152 15.8975 79.6614 16.2437C80.0159 16.5898 80.1932 17.0625 80.1932 17.6788V20.4563H79.0029V17.8983C79.0029 17.1976 78.6314 16.8262 78.0827 16.8262C77.4833 16.8262 77.0697 17.2567 77.0697 17.9321V20.4563H75.8794V17.9068C75.8794 17.2229 75.5164 16.8262 74.9508 16.8262C74.3683 16.8262 73.9462 17.2567 73.9462 17.9405V20.4563H72.7559V15.8553H73.9208V16.5138C74.1825 16.0326 74.7228 15.7202 75.3222 15.7287C75.8963 15.7287 76.4281 16.0073 76.6729 16.5391C77.0106 16.0326 77.6353 15.7287 78.3191 15.7287Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M69.7863 20.5657C68.4778 20.5657 67.6758 19.8059 67.6758 18.5143V15.855H68.8661V18.5143C68.8661 19.0968 69.2122 19.4767 69.7863 19.4767C70.3603 19.4767 70.7064 19.0968 70.7064 18.5143V15.855H71.8967V18.5143C71.8967 19.8059 71.1032 20.5657 69.7863 20.5657Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M65.5419 20.4566H64.3516V15.8556H65.4912V16.4719C65.7698 15.9738 66.1919 15.729 66.7575 15.729C66.9432 15.729 67.129 15.7628 67.3147 15.8303L67.2134 16.97C67.0192 16.9109 66.8335 16.8771 66.6647 16.8771C65.9893 16.8771 65.5419 17.3161 65.5419 18.2701V20.4566Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M58.7539 18.1519C58.7539 17.4765 58.9818 16.9025 59.4461 16.4381C59.9105 15.9654 60.5014 15.729 61.219 15.729C61.9365 15.729 62.5275 15.9654 62.9918 16.4381C63.4561 16.9025 63.684 17.4765 63.684 18.1519C63.684 18.8357 63.4561 19.4098 62.9918 19.8741C62.5275 20.3384 61.9365 20.5748 61.219 20.5748C60.5014 20.5748 59.9105 20.3384 59.4461 19.8741C58.9818 19.4098 58.7539 18.8357 58.7539 18.1519ZM60.3072 19.089C60.552 19.3423 60.856 19.4689 61.219 19.4689C61.582 19.4689 61.8774 19.3423 62.1222 19.089C62.3671 18.8273 62.4937 18.5149 62.4937 18.1519C62.4937 17.7889 62.3671 17.4765 62.1222 17.2233C61.8774 16.97 61.582 16.8434 61.219 16.8434C60.856 16.8434 60.552 16.97 60.3072 17.2233C60.0624 17.4765 59.9442 17.7889 59.9442 18.1519C59.9442 18.5149 60.0624 18.8273 60.3072 19.089Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M55.6225 20.4565H54.373V14.2178H58.5349V15.3997H55.6225V16.8011H58.1804V17.9745H55.6225V20.4565Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M49.58 18.8519L50.6268 15.855H51.9269L50.0781 20.6839C49.6307 21.8574 49.0397 22.4145 48.128 22.4145C47.7819 22.4145 47.4864 22.3386 47.2416 22.1866L47.4442 21.1904C47.6553 21.2917 47.8579 21.3424 48.0351 21.3424C48.4066 21.3424 48.7021 21.0976 48.93 20.6164L49.0229 20.4053L47.0137 15.855H48.3897L49.58 18.8519Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M45.4741 16.362V15.8555H46.5715V20.0006C46.5715 20.7351 46.3352 21.326 45.8624 21.7566C45.3897 22.1871 44.7734 22.4066 44.0221 22.4066C43.237 22.4066 42.5279 22.1871 41.9116 21.7397L42.3759 20.8448C42.9077 21.2078 43.448 21.3851 43.9883 21.3851C44.9 21.3851 45.4234 20.8533 45.4234 20.1103V19.874C45.0689 20.2707 44.5961 20.4649 44.0052 20.4649C43.3298 20.4649 42.7811 20.2454 42.3506 19.798C41.92 19.3506 41.709 18.7934 41.709 18.1096C41.709 17.4257 41.9369 16.8601 42.3843 16.4127C42.8318 15.9652 43.3889 15.7373 44.0558 15.7373C44.6215 15.7373 45.0942 15.9484 45.4741 16.362ZM42.9077 18.118C42.9077 18.4979 43.0259 18.8103 43.2707 19.0551C43.5156 19.2999 43.8195 19.4265 44.1825 19.4265C44.5455 19.4265 44.8494 19.2999 45.0942 19.0551C45.339 18.8018 45.4572 18.4895 45.4572 18.118C45.4572 17.7465 45.339 17.4426 45.0942 17.1978C44.8494 16.953 44.5455 16.8263 44.1825 16.8263C43.8195 16.8263 43.5156 16.953 43.2707 17.1978C43.0259 17.4426 42.9077 17.7465 42.9077 18.118Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M41.3076 18.0505C41.3076 18.2109 41.2907 18.3881 41.2654 18.5739H37.8127C37.9815 19.2239 38.4289 19.5532 39.1549 19.5532C39.653 19.5532 40.2439 19.359 40.6407 19.0888L41.1135 19.9246C40.531 20.3467 39.8641 20.5578 39.1043 20.5578C38.2939 20.5578 37.6776 20.3214 37.2471 19.8571C36.8165 19.3928 36.6055 18.8187 36.6055 18.1518C36.6055 17.4511 36.825 16.877 37.2724 16.4211C37.7198 15.9652 38.2939 15.7373 39.003 15.7373C39.6699 15.7373 40.2271 15.9484 40.6576 16.362C41.0881 16.7757 41.3076 17.3329 41.3076 18.0505ZM39.003 16.725C38.4036 16.725 37.9562 17.0881 37.8127 17.6874H40.1511C40.0413 17.0881 39.6108 16.725 39.003 16.725Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M36.1548 19.2492L36.5094 20.1862C36.1295 20.4395 35.6821 20.5661 35.1502 20.5661C34.095 20.5661 33.5463 19.9414 33.5463 18.7511V16.8516H32.7949V15.8554H33.5547V14.2261H34.7366V15.8554H36.2561V16.8516H34.7366V18.6751C34.7366 19.2154 34.9561 19.4855 35.3866 19.4855C35.6145 19.4855 35.8762 19.4096 36.1548 19.2492Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M31.1525 16.4042V15.8555H32.2837V20.4565H31.1525V19.9246C30.7557 20.3552 30.2661 20.5662 29.6836 20.5662C29.0251 20.5662 28.4764 20.3383 28.0459 19.874C27.6153 19.4096 27.4043 18.8271 27.4043 18.1349C27.4043 17.4426 27.6238 16.8686 28.0543 16.4211C28.4849 15.9652 29.0336 15.7373 29.6836 15.7373C30.2577 15.7373 30.7473 15.9568 31.1525 16.4042ZM31.1694 18.1518C31.1694 17.7888 31.0428 17.4764 30.798 17.2147C30.5531 16.953 30.2492 16.8263 29.8778 16.8263C29.4979 16.8263 29.194 16.953 28.9492 17.2147C28.7128 17.4764 28.5946 17.7888 28.5946 18.1518C28.5946 18.5232 28.7128 18.8356 28.9576 19.0973C29.2024 19.359 29.5063 19.4856 29.8778 19.4856C30.2492 19.4856 30.5531 19.359 30.798 19.0973C31.0428 18.8356 31.1694 18.5232 31.1694 18.1518Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M25.6102 20.4566H24.4199V15.8556H25.5596V16.4719C25.8382 15.9738 26.2603 15.729 26.8259 15.729C27.0116 15.729 27.1973 15.7628 27.383 15.8303L27.2817 16.97C27.0876 16.9109 26.9019 16.8771 26.733 16.8771C26.0577 16.8771 25.6102 17.3161 25.6102 18.2701V20.4566Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M23.6685 19.2492L24.023 20.1862C23.6432 20.4395 23.1957 20.5661 22.6639 20.5661C21.6087 20.5661 21.0599 19.9414 21.0599 18.7511V16.8516H20.3086V15.8554H21.0684V14.2261H22.2502V15.8554H23.7698V16.8516H22.2502V18.6751C22.2502 19.2154 22.4697 19.4855 22.9003 19.4855C23.1282 19.4855 23.3899 19.4096 23.6685 19.2492Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M17.895 20.5581C16.9242 20.5581 16.0462 20.1444 15.5312 19.3931L16.2488 18.5235C16.654 19.0891 17.2618 19.3931 17.9034 19.3931C18.4184 19.3931 18.7983 19.1229 18.7983 18.7261C18.7983 18.4729 18.6126 18.2534 18.2327 18.0761C18.1483 18.0339 17.9456 17.9579 17.6164 17.8313C17.2956 17.7046 17.0508 17.5864 16.882 17.4936C16.2235 17.1137 15.8943 16.5987 15.8943 15.9402C15.8943 15.4168 16.0884 14.9862 16.4852 14.6401C16.882 14.294 17.3969 14.1167 18.0216 14.1167C18.832 14.1167 19.5158 14.3953 20.073 14.9609L19.4061 15.8727C19.06 15.5012 18.5028 15.2902 18.0385 15.2902C17.5404 15.2902 17.2365 15.5265 17.2365 15.8896C17.2365 16.1344 17.4054 16.337 17.743 16.5058L18.3593 16.776C18.7054 16.9195 18.9587 17.0292 19.1191 17.1052C19.8282 17.4514 20.1828 17.9663 20.1828 18.6586C20.1828 19.2158 19.9717 19.6716 19.5496 20.0262C19.1275 20.3808 18.5788 20.5581 17.895 20.5581Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M11.668 20.4565V14.2178H12.9258V20.4565H11.668Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M11.079 20.4565H9.7621L9.29779 19.1058H7.11977L6.63858 20.4565H5.33008L7.7107 14.2178H8.73218L11.079 20.4565ZM8.94323 17.9914L8.21722 15.9146L7.47433 17.9914H8.94323Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M85.999 6.44255C85.999 6.60295 85.9822 6.78023 85.9568 6.96596H82.5041C82.6729 7.61601 83.1203 7.94525 83.8463 7.94525C84.3444 7.94525 84.9353 7.75108 85.3321 7.48093L85.8049 8.31671C85.2224 8.73882 84.5555 8.94987 83.7957 8.94987C82.9853 8.94987 82.369 8.71349 81.9385 8.24917C81.5079 7.78485 81.2969 7.21078 81.2969 6.54385C81.2969 5.84315 81.5164 5.26909 81.9638 4.81321C82.4112 4.35733 82.9853 4.12939 83.6944 4.12939C84.3613 4.12939 84.9185 4.34045 85.349 4.75411C85.7795 5.16778 85.999 5.72496 85.999 6.44255ZM83.6944 5.11713C83.095 5.11713 82.6476 5.48014 82.5041 6.07953H84.8425C84.7327 5.48014 84.3022 5.11713 83.6944 5.11713Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M78.8264 8.94987C78.1089 8.94987 77.5264 8.72193 77.0705 8.2745C76.6147 7.82706 76.3867 7.24455 76.3867 6.54385C76.3867 5.84315 76.6146 5.26064 77.079 4.81321C77.5433 4.35733 78.1342 4.12939 78.8602 4.12939C79.7973 4.12939 80.6246 4.59371 81.0045 5.4126L80.0505 5.93602C79.7719 5.4717 79.3752 5.23532 78.8771 5.23532C78.4972 5.23532 78.1849 5.36195 77.94 5.61522C77.6952 5.86004 77.5686 6.1724 77.5686 6.54385C77.5686 6.92375 77.6868 7.23611 77.9316 7.48938C78.1764 7.7342 78.4888 7.86083 78.8518 7.86083C79.333 7.86083 79.8226 7.5738 80.0252 7.16857L80.9876 7.7342C80.5908 8.47711 79.7719 8.94987 78.8264 8.94987Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M74.5946 8.84919H73.4043V4.24821H74.544V4.86449C74.8225 4.3664 75.2446 4.12158 75.8102 4.12158C75.996 4.12158 76.1817 4.15535 76.3674 4.22289L76.2661 5.36258C76.0719 5.30349 75.8862 5.26972 75.7174 5.26972C75.042 5.26972 74.5946 5.70871 74.5946 6.66267V8.84919Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M70.4386 8.95829C69.1301 8.95829 68.3281 8.19849 68.3281 6.90684V4.24756H69.5184V6.90684C69.5184 7.48935 69.8646 7.86925 70.4386 7.86925C71.0127 7.86925 71.3588 7.48935 71.3588 6.90684V4.24756H72.5491V6.90684C72.5491 8.19849 71.7556 8.95829 70.4386 8.95829Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M62.7871 6.54448C62.7871 5.86911 63.015 5.29504 63.4794 4.83072C63.9437 4.35796 64.5346 4.12158 65.2522 4.12158C65.9697 4.12158 66.5607 4.35796 67.025 4.83072C67.4893 5.29504 67.7172 5.86911 67.7172 6.54448C67.7172 7.2283 67.4893 7.80237 67.025 8.26669C66.5607 8.731 65.9697 8.96739 65.2522 8.96739C64.5346 8.96739 63.9437 8.731 63.4794 8.26669C63.015 7.80237 62.7871 7.2283 62.7871 6.54448ZM64.3404 7.48156C64.5852 7.73483 64.8892 7.86146 65.2522 7.86146C65.6152 7.86146 65.9106 7.73483 66.1554 7.48156C66.4003 7.21986 66.5269 6.9075 66.5269 6.54448C66.5269 6.18147 66.4003 5.86911 66.1554 5.61585C65.9106 5.36258 65.6152 5.23595 65.2522 5.23595C64.8892 5.23595 64.5852 5.36258 64.3404 5.61585C64.0956 5.86911 63.9774 6.18147 63.9774 6.54448C63.9774 6.9075 64.0956 7.21986 64.3404 7.48156Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M60.0669 8.94918C59.096 8.94918 58.2181 8.53552 57.7031 7.78417L58.4207 6.91462C58.8259 7.48025 59.4337 7.78417 60.0753 7.78417C60.5903 7.78417 60.9702 7.51402 60.9702 7.11723C60.9702 6.86397 60.7844 6.64447 60.4045 6.46719C60.3201 6.42498 60.1175 6.349 59.7883 6.22237C59.4675 6.09573 59.2227 5.97754 59.0538 5.88468C58.3954 5.50478 58.0661 4.98981 58.0661 4.33132C58.0661 3.80791 58.2603 3.37736 58.6571 3.03123C59.0538 2.6851 59.5688 2.50781 60.1935 2.50781C61.0039 2.50781 61.6877 2.7864 62.2449 3.35203L61.578 4.26378C61.2319 3.89233 60.6747 3.68127 60.2104 3.68127C59.7123 3.68127 59.4084 3.91765 59.4084 4.28067C59.4084 4.52549 59.5772 4.7281 59.9149 4.89695L60.5312 5.1671C60.8773 5.31061 61.1306 5.42036 61.291 5.49634C62.0001 5.84247 62.3546 6.35744 62.3546 7.0497C62.3546 7.60688 62.1436 8.06276 61.7215 8.41733C61.2994 8.7719 60.7507 8.94918 60.0669 8.94918Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M57.2587 7.06651H53.7891V5.95215H57.2587V7.06651Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M49.7587 8.84919H48.5684V4.24821H49.7333V4.88982C49.9782 4.44238 50.5269 4.12158 51.1769 4.12158C51.675 4.12158 52.1055 4.29043 52.4517 4.61967C52.7978 4.94891 52.975 5.42168 52.975 6.03795V8.84919H51.7847V6.35876C51.7847 5.62429 51.3964 5.21906 50.8139 5.21906C50.1808 5.21906 49.7587 5.70027 49.7587 6.38408V8.84919Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M47.917 6.44255C47.917 6.60295 47.9001 6.78023 47.8748 6.96596H44.422C44.5909 7.61601 45.0383 7.94525 45.7643 7.94525C46.2624 7.94525 46.8533 7.75108 47.2501 7.48093L47.7228 8.31671C47.1403 8.73882 46.4734 8.94987 45.7137 8.94987C44.9032 8.94987 44.287 8.71349 43.8564 8.24917C43.4259 7.78485 43.2148 7.21078 43.2148 6.54385C43.2148 5.84315 43.4343 5.26909 43.8818 4.81321C44.3292 4.35733 44.9032 4.12939 45.6124 4.12939C46.2793 4.12939 46.8364 4.34045 47.267 4.75411C47.6975 5.16778 47.917 5.72496 47.917 6.44255ZM45.6124 5.11713C45.013 5.11713 44.5656 5.48014 44.422 6.07953H46.7605C46.6507 5.48014 46.2202 5.11713 45.6124 5.11713Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M40.5154 4.12939C41.1654 4.12939 41.7057 4.36578 42.1362 4.83009C42.5668 5.29441 42.7778 5.86848 42.7778 6.54385C42.7778 7.21923 42.5583 7.79329 42.1278 8.25761C41.6972 8.72193 41.157 8.95831 40.5069 8.95831C39.9413 8.95831 39.4601 8.74726 39.0634 8.31671V10.7396H37.873V4.24758H39.0549V4.81321C39.4517 4.35733 39.9329 4.12939 40.5154 4.12939ZM40.3043 7.86927C40.6842 7.86927 40.9881 7.74264 41.2245 7.48938C41.4609 7.23611 41.5791 6.92375 41.5791 6.5523C41.5791 6.18084 41.4609 5.86848 41.2245 5.61522C40.9881 5.36195 40.6842 5.23532 40.3043 5.23532C39.9329 5.23532 39.629 5.36195 39.3926 5.61522C39.1562 5.86848 39.038 6.18084 39.038 6.5523C39.038 6.92375 39.1562 7.23611 39.3926 7.48938C39.629 7.74264 39.9329 7.86927 40.3043 7.86927Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M33.9351 8.94981C33.0149 8.94981 32.2382 8.6459 31.622 8.02962C31.0057 7.41334 30.6934 6.65355 30.6934 5.75023C30.6934 4.84692 31.0057 4.07869 31.6304 3.44552C32.2636 2.81236 33.0318 2.5 33.9435 2.5C34.8552 2.5 35.6235 2.81236 36.2482 3.44552C36.8813 4.07869 37.1937 4.83848 37.1937 5.73335C37.1937 6.62822 36.8813 7.38801 36.2482 8.01273C35.6235 8.63745 34.8552 8.94981 33.9351 8.94981ZM35.8936 5.73335C35.8936 5.15928 35.7079 4.68652 35.328 4.30662C34.9481 3.92673 34.4922 3.73256 33.9435 3.73256C33.3948 3.73256 32.9389 3.92673 32.559 4.30662C32.1791 4.68652 31.9934 5.16772 31.9934 5.73335C31.9934 6.29897 32.1791 6.77174 32.5506 7.15163C32.9305 7.53153 33.3948 7.71726 33.9435 7.71726C34.4922 7.71726 34.9565 7.53153 35.3364 7.15163C35.7163 6.77174 35.902 6.29897 35.8936 5.73335Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M22.6095 8.84911H21.377V2.61035H22.2043L24.6524 6.14762L27.0753 2.61035H27.9195V8.84911H26.67V5.31184L24.855 7.92047H24.4245L22.6095 5.31184V8.84911Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M18.9004 8.84911V2.61035H20.1582V8.84911H18.9004Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M15.7817 8.94918C14.8109 8.94918 13.9329 8.53552 13.418 7.78417L14.1355 6.91462C14.5407 7.48025 15.1486 7.78417 15.7902 7.78417C16.3051 7.78417 16.685 7.51402 16.685 7.11723C16.685 6.86397 16.4993 6.64447 16.1194 6.46719C16.035 6.42498 15.8324 6.349 15.5031 6.22237C15.1823 6.09573 14.9375 5.97754 14.7687 5.88468C14.1102 5.50478 13.781 4.98981 13.781 4.33132C13.781 3.80791 13.9751 3.37736 14.3719 3.03123C14.7687 2.6851 15.2836 2.50781 15.9083 2.50781C16.7188 2.50781 17.4026 2.7864 17.9597 3.35203L17.2928 4.26378C16.9467 3.89233 16.3895 3.68127 15.9252 3.68127C15.4271 3.68127 15.1232 3.91765 15.1232 4.28067C15.1232 4.52549 15.2921 4.7281 15.6298 4.89695L16.246 5.1671C16.5921 5.31061 16.8454 5.42036 17.0058 5.49634C17.7149 5.84247 18.0695 6.35744 18.0695 7.0497C18.0695 7.60688 17.8584 8.06276 17.4363 8.41733C17.0142 8.7719 16.4655 8.94918 15.7817 8.94918Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M9.89991 8.94981C8.97974 8.94981 8.20308 8.6459 7.58682 8.02962C6.97055 7.41334 6.6582 6.65355 6.6582 5.75023C6.6582 4.84692 6.97055 4.07869 7.59526 3.44552C8.2284 2.81236 8.99662 2.5 9.90835 2.5C10.8201 2.5 11.5883 2.81236 12.213 3.44552C12.8461 4.07869 13.1585 4.83848 13.1585 5.73335C13.1585 6.62822 12.8461 7.38801 12.213 8.01273C11.5883 8.63745 10.8201 8.94981 9.89991 8.94981ZM11.8584 5.73335C11.8584 5.15928 11.6727 4.68652 11.2928 4.30662C10.9129 3.92673 10.4571 3.73256 9.90835 3.73256C9.35962 3.73256 8.90376 3.92673 8.52387 4.30662C8.14398 4.68652 7.95826 5.16772 7.95826 5.73335C7.95826 6.29897 8.14398 6.77174 8.51543 7.15163C8.89532 7.53153 9.35962 7.71726 9.90835 7.71726C10.4571 7.71726 10.9214 7.53153 11.3013 7.15163C11.6812 6.77174 11.8669 6.29897 11.8584 5.73335Z"
              fill="white"
              fill-opacity="0.94"></path>
            <path
              d="M3.25015 8.94137C2.30465 8.94137 1.52799 8.63745 0.911729 8.03806C0.30391 7.43022 0 6.66199 0 5.73335C0 4.79627 0.312352 4.01959 0.945497 3.41175C1.57864 2.80392 2.36374 2.5 3.3008 2.5C4.31383 2.5 5.25088 2.91367 5.81649 3.51306L4.99763 4.40793C4.53332 3.94361 3.96771 3.70723 3.3008 3.70723C2.7183 3.70723 2.23711 3.9014 1.85723 4.2813C1.47734 4.66119 1.28317 5.1424 1.28317 5.72491C1.28317 6.29053 1.4689 6.77174 1.84034 7.16008C2.22023 7.54841 2.70142 7.74258 3.28391 7.74258C3.9255 7.74258 4.55865 7.47243 4.95542 7.07565V6.22299H3.23326V5.13396H6.09508V7.70037C5.30154 8.52771 4.35604 8.94137 3.25015 8.94137Z"
              fill="white"
              fill-opacity="0.94"></path>
          </svg>
        </div>

        <div class="event-facts ">
          {date && <p>{date}</p>}
          {location && <p>{location}</p>}
        </div>

        <div>
          {description && <p class="description" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: white;">{description}</p>}
        </div>
        <div class="logo-eclipse" style="margin-top: 10px;">
          <a href="https://www.eclipse.org/" target="_blank" rel="noopener noreferrer">
            <img
              src="/images/sponsors/eclipse-foundation-white.png"
              alt="Eclipse Foundation Logo"
              width="150"
              height="auto"
              loading="lazy"
            />
          </a>
        </div>

        <div class="btn-home-wrap">
          {
            links?.map((loop) => (
              <Button
                text={loop.text}
                link={loop.link}
                openInNewTab={loop?.openInNewTab}
                class="btn light xl btn-hover fade-in-last"
              />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
