---
// Packages
import { Picture } from 'astro:assets';

// Components
import Button from "components/Button.astro";

// Images
import image from 'videos/gosim-paris-compressed.webp';

interface Props {
    title: string;
    location: string;
    date: string;
    text: string;
    ctaButton?: {
        text: string;
        link: string;
        openInNewTab?: boolean;
    };
}

const { title, location, date, text, ctaButton } = Astro.props;

const slug = Astro.url.pathname;
---

<section
    class="section section-register-gosim"
    data-theme-section="dark"
    data-bg-section="primary"
    data-page={slug}
    id={'page' + slug.replaceAll('/', '-') + 'register'}
>
    <div class="overlay overlay-wrap">
        <div class="overlay overlay-background overlay-background-video">
            <div class="styled-video playpause overlay">
                <Picture
                    src={image}
                    formats={['webp', 'jpg']}
                    alt="Paris"
                    class="overlay"
                />
                
                <video
                    class="overlay"
                    preload="auto"
                    autoplay
                    loop
                    muted
                    webkit-playsinline
                    playsinline
                    poster="/videos/gosim-paris-compressed.webp"
                >
                    <source
                        src="/videos/gosim-paris-compressed.webm"
                        type="video/webm"
                    />
                    <source
                        src="/videos/gosim-paris-compressed.mp4"
                        type="video/mp4"
                    />
                </video>
            </div>
            <div class="overlay overlay-gradient-v2"></div>
            <div class="overlay overlay-gradient-cover"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-row col-row-title">
                    <h2 class="custom3">{title}</h2>
                </div>

                <div class="col-row col-row-info">
                    <p>{location}</p>
                    <p>{date}</p>
                </div>

                <div class="col-row col-row-text styled-content">
                    <p>{text}</p>
                </div>

                {ctaButton?.text && (
                    <div class="col-row col-row-btn">
                        <Button
                            link={ctaButton.link}
                            text={ctaButton.text}
                            openInNewTab={ctaButton?.openInNewTab}
                            class="btn primary xl btn-hover"
                        />
                    </div>
                )}
            </div>
        </div>
    </div>
</section>
