---
// Props for the component
interface Props {
  title: string;
  url?: string;
  description?: string;
}

// Get the props
const { title, url = Astro.url.href, description = "" } = Astro.props;

// Encode the parameters for the share URLs
const encodedTitle = encodeURIComponent(title);
const encodedUrl = encodeURIComponent(url);
const encodedDescription = encodeURIComponent(description);

// Create the share URLs
const xShareUrl = `https://twitter.com/intent/tweet?text=${encodedTitle}&url=${encodedUrl}`;
const linkedInShareUrl = `https://www.linkedin.com/sharing/share-offsite/?url=${encodedUrl}`;
---

<div class="social-share-container">
  <div
    class="card-tags group-tags social-wrap social-share-container"
  >
    <span class="share-label">Share:</span>
    <a
      href={xShareUrl}
      target="_blank"
      rel="noopener noreferrer"
      class="social-link"
      style="margin: 0;"
      social-type="twitter"
      aria-label="Share on X (Twitter)"
    >
      <img
        src="/icons/icon-x.svg"
        alt="X (Twitter) icon"
        width="Auto"
        height="19"
      />
    </a>
    <a
      href={linkedInShareUrl}
      target="_blank"
      rel="noopener noreferrer"
      class="social-link"
      style="margin: 0;"
      social-type="linkedin"
      aria-label="Share on LinkedIn"
    >
      <img
        src="/icons/icon-linkedin.svg"
        alt="LinkedIn icon"
        width="Auto"
        height="19"
      />
    </a>
  </div>
</div>

<style>
  .social-share-container {
    gap: 1rem !important;
    align-items: center !important;
    justify-content: flex-start !important;
    padding-bottom: 0px !important;
  }
</style>
