---
// Packages
import { Picture } from 'astro:assets';

// Components
import Button from "components/Button.astro";

interface Props {
	title: string,
    text: string,
    image: any,
    imageAlt: string,
    ctaButton?: {
        text: string,
        link: string,
        openInNewTab?: boolean,
    };
}

const { title, text, image, imageAlt, ctaButton } = Astro.props;
---

<section
    class="section section-register-gosim spotlight-section"
    id="spotlight"
    data-theme-section="dark"
    data-bg-section="dark"
>
    <div class="container">
        <div class="row grid">
            <div class="col">
                <div class="col-row col-row-title">
                    <h2 class="custom3">{title}</h2>
                </div>

                <div class="col-row col-row-text styled-content">
                    <p>
                        {text}
                    </p>
                </div>

                {ctaButton?.text &&
                    <div class="col-row col-row-btn">
                        <Button
                            text={ctaButton.text}
                            link={ctaButton.link}
                            openInNewTab={ctaButton?.openInNewTab}
                            class="btn primary xl btn-hover"
                        />
                    </div>
                }
            </div>

            {image &&
                <div class="col">
                    <div class="logo-tiles">
                        <Picture
                            src={image}
                            formats={['webp', 'jpg']}
                            alt={imageAlt}
                            class="hexbadge"
                        />
                    </div>
                </div>
            }
        </div>
    </div>
</section>
