---
// Components
import Button from "components/Button.astro";

interface Props {
    subtitle: string;
    title: string;
    location: string;
    text: string;
    ctaButton?: {
        text: string;
        link: string;
        openInNewTab?: boolean;
    };
}

const { subtitle, title, location, text, ctaButton } = Astro.props;
---

<section
    class="section section-big-image"
    data-theme-section="light"
    data-bg-section="lightgray"
>
    <div class="container wide" id="venue">
        <div class="row">
            <div class="col">
                <figure>
                    <div class="overlay playpause">
<!--                         <video class="overlay" preload="auto" autoplay loop muted webkit-playsinline playsinline poster="/videos/gosim-paris-compressed.webp">
                            <source src="/videos/gosim-paris-compressed.webm" type="video/webm">
                            <source src="/videos/gosim-paris-compressed.mp4" type="video/mp4">
                        </video> -->
                        <img
                            src="/images/homepage/forum-venue.jpg"
                            alt="Forum Venue"
                            class="overlay"
                            loading="lazy"
                        />
                    </div>

                    {ctaButton?.text &&
                        <div class="col-row col-row-btn">
                            <Button
                                text={ctaButton.text}
                                link={ctaButton.link}
                                openInNewTab={ctaButton?.openInNewTab}
                                class="btn light btn-hover xl"
                            />
                        </div>
                    }
                </figure>
            </div>
        </div>
    </div>
</section>

<section
    class="section section-location-info"
    data-theme-section="light"
    data-bg-section="lightgray"
>
    <div class="container wide">
        <div class="row grid">
            <div class="border-bottom"></div>
            <div class="col col-info">
                <div class="location-flex">
                    <h5>{subtitle}</h5>
                    <h2>{title}</h2>
                    <p>{location}</p>
                </div>
            </div>
            <div class="col col-text styled-content">
                <div class="col-row">
                    <p>{text}</p>
                </div>
            </div>
        </div>
    </div>
</section>
